<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">

  {% block styles %}
    {{ bootstrap.load_css() }}
  {% endblock %}

  <title> Alex Service</title>
  {% endblock %}
</head>
<body>
  <header>
    <h1> WELCOME TO MY SITE</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
      <a class="navbar-brand" href="#">Resume</a>
      <a class="navbar-brand" href="#">Study Log</a>
      <a class="navbar-brand" href="#">Contact</a>
    </nav>
  </header>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  
  {% block scripts %}
    {{ bootstrap.load_js() }}
  {% endblock %}
</body>
</html>
